/* Set font of page */
body{
    font-family: Arial;
  }
  
h1{
    text-align: center;
}
h2{
  text-align: center;
}

/* Create two unequal columns that floats next to each other*/
.column1 {
  float: left;
  width: 60%;
}
.column2 {
  float: right;
  width: 40%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Set line colors */
  #x-axis{
    stroke: black;
    stroke-width: 10px;
  }
  #y-axis{
    stroke: black;
    stroke-width: 10px;
  }

  /* Sett attributes about circle */
  .circle{
    fill:lightsalmon;
    
  }
/* If you hover over aa circle change its color */
 .circle:hover{
  fill:orangered;
  }
  

